### Stock: Información del inventario por punto de venta, producto y por cadena.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importo el Dataframe en formato Excel
df_stock = pd.read_excel("stock.xlsx")

In [3]:
# Puedo ver una tupla con el número de filas y columnas del DataFrame
df_stock

,CODIGO EMPRESA,NOMBRE EMPRESA,CODIGO PDV,NOMBRE PDV,NOMBRE PRODUCTO,NOMBRE PRODUCTO2,ESTADO ARTICULO,MINIMO,COSTO PROMEDIO,STOCK,Fecha Stock
0,1,FARMACIAS Y COMISARIATOS DE MEDICINAS S.A. FAR...,1802,CERRADO FYBECA AEROPLAZA,100147239,TRATAMIENTO IL SALONE LISCIO PROGR. CAP. DANNEG.,INACTIVO,0.0,44.100,0,2021-02-28
1,1,FARMACIAS Y COMISARIATOS DE MEDICINAS S.A. FAR...,1802,CERRADO FYBECA AEROPLAZA,100147242,TRATAMIENTO IL SALONE ETERNAL LEAVE-IN CAB. TI...,INACTIVO,0.0,28.420,0,2021-02-28
2,1,FARMACIAS Y COMISARIATOS DE MEDICINAS S.A. FAR...,1802,CERRADO FYBECA AEROPLAZA,100147243,TRATAMIENTO IL SALONE CAB TINTURADOS 250 ML,INACTIVO,0.0,28.420,0,2021-02-28
3,1,FARMACIAS Y COMISARIATOS DE MEDICINAS S.A. FAR...,1802,CERRADO FYBECA AEROPLAZA,100147244,SHAMPOO IL SALONE MAGNIFICENT 500 ML,INACTIVO,0.0,29.792,0,2021-02-28
4,1,FARMACIAS Y COMISARIATOS DE MEDICINAS S.A. FAR...,1802,CERRADO FYBECA AEROPLAZA,100147245,TRATAMIENTO IL SALONE ENHANCING CHOCOLATE 150 ML,INACTIVO,0.0,28.420,0,2021-02-28
...,...,...,...,...,...,...,...,...,...,...,...
12269,8,ECONOFARM S.A.,71599,SANASANA ZARUMA,100251639,TINTE ALTA MODA TONO N°6.35 RUBIO OSCURO DORAD...,NO DISCONTINUADO,2.0,8.120,2,2021-02-28
12270,8,ECONOFARM S.A.,71599,SANASANA ZARUMA,100251640,SHAMPOO ALTA MODA HAIR REPAIR 300ML,NO DISCONTINUADO,2.0,10.024,2,2021-02-28
12271,8,ECONOFARM S.A.,71599,SANASANA ZARUMA,100251641,ACONDICIONADOR ALTA MODA ALFAKERATIN 300ML,NO DISCONTINUADO,2.0,10.024,2,2021-02-28
12272,8,ECONOFARM S.A.,71599,SANASANA ZARUMA,100251642,ACONDICIONADOR ALTA MODA HAIR REPAIR 300ML,NO DISCONTINUADO,2.0,10.024,2,2021-02-28
12273,8,ECONOFARM S.A.,71599,SANASANA ZARUMA,100251643,MÁSCARA ALTA MODA ALFAKERATIN 300GR,NO DISCONTINUADO,2.0,14.476,2,2021-02-28

In [4]:
# Observo el tipo de datos que tiene el DataFrame
df_stock.dtypes

CODIGO EMPRESA               int64
NOMBRE EMPRESA              object
CODIGO PDV                   int64
NOMBRE PDV                  object
NOMBRE PRODUCTO              int64
NOMBRE PRODUCTO2            object
ESTADO ARTICULO             object
MINIMO                     float64
COSTO PROMEDIO             float64
STOCK                        int64
Fecha Stock         datetime64[ns]
dtype: object

In [5]:
# Con el comando info() me hago una idea con los campos que voy a trabajar
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12274 entries, 0 to 12273
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CODIGO EMPRESA    12274 non-null  int64
 1   NOMBRE EMPRESA    12274 non-null  object
 2   CODIGO PDV        12274 non-null  int64
 3   NOMBRE PDV        12274 non-null  object
 4   NOMBRE PRODUCTO   12274 non-null  int64
 5   NOMBRE PRODUCTO2  12274 non-null  object
 6   ESTADO ARTICULO   12274 non-null  object
 7   MINIMO            10216 non-null  float64
 8   COSTO PROMEDIO    12274 non-null  float64
 9   STOCK             12274 non-null  int64
 10  Fecha Stock       12274 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 1.0+ MB

In [6]:
# Creo una variable para saber si existen valores nulos en el dataframe 
valores_nulos_stock = df_stock.isnull()
valores_nulos_stock

,CODIGO EMPRESA,NOMBRE EMPRESA,CODIGO PDV,NOMBRE PDV,NOMBRE PRODUCTO,NOMBRE PRODUCTO2,ESTADO ARTICULO,MINIMO,COSTO PROMEDIO,STOCK,Fecha Stock
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
12269,False,False,False,False,False,False,False,False,False,False,False
12270,False,False,False,False,False,False,False,False,False,False,False
12271,False,False,False,False,False,False,False,False,False,False,False
12272,False,False,False,False,False,False,False,False,False,False,False
12273,False,False,False,False,False,False,False,False,False,False,False

In [8]:
# Observo que existen valores nulos en la columna Mínimo, lo cual se tomará en cuenta en caso de ser relevante para el análisis.
valores_nulos_stock.sum()

CODIGO EMPRESA         0
NOMBRE EMPRESA         0
CODIGO PDV             0
NOMBRE PDV             0
NOMBRE PRODUCTO        0
NOMBRE PRODUCTO2       0
ESTADO ARTICULO        0
MINIMO              2058
COSTO PROMEDIO         0
STOCK                  0
Fecha Stock            0
dtype: int64

In [9]:
# Con describe() puedo obtener un análisis descriptivo del Dataframe que puede ser útil. 
df_stock.describe()

,CODIGO EMPRESA,CODIGO PDV,NOMBRE PRODUCTO,MINIMO,COSTO PROMEDIO,STOCK
count,12274.000000,12274.000000,1.227400e+04,10216.000000,12274.000000,12274.000000
mean,5.183640,19005.771387,9.283195e+07,1.801194,19.710716,1.950872
std,4.289872,30968.183478,2.614068e+07,0.870084,10.501556,1.909109
min,1.000000,1.000000,2.943760e+05,0.000000,0.000000,-1.000000
25%,1.000000,155.000000,1.001641e+08,2.000000,10.024000,0.000000
50%,8.000000,1515.000000,1.002328e+08,2.000000,18.620000,2.000000
75%,8.000000,71588.000000,1.002407e+08,2.000000,28.420000,3.000000
max,16.000000,72084.000000,1.002516e+08,6.000000,44.100000,25.000000

In [10]:
# con any() verifico si hay filas duplicadas en el DataFrame
hay_duplicados = df_stock.duplicated().any()

if hay_duplicados:
    print("Existen filas duplicadas en el DataFrame.")
else:
    print("No hay filas duplicadas en el DataFrame.")

No hay filas duplicadas en el DataFrame.